
<div id="body">
    <form name="form1" method="post" action="addFromFile" enctype="multipart/form-data">
        <div>
            <label>
                Выбрать файл
            </label>
            <input name="myFile" type="file" />
        </div>
        <div>
            <input type="submit" value="Загрузить" />
        </div>
    </form>
</div>